
.page {
    min-width: 320px;
    margin: 0 auto;
    padding-top: 87px;
    display: grid;
    grid-template-columns: 445px 639px;
}

@media (max-width: 1090px) {
    .page {
        display: block;
        padding-top: 0;
    }
  } 
