.sidebar__item {
    height: 75px;
    text-decoration: none;
    background-color: #1f2229;   
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    padding-left: 27px;
    padding-top: 23px;
    padding-bottom: 22px;
    margin-bottom: 0.001em;
    transition: 0.5s;
    border-top: 0.001em solid #27272975;
}

.sidebar__item:hover {
    opacity: 0.8;
    background-color: #1f2229;
  }

.sidebar__item:focus {
    color:#808592; 
    background-color: #2a2d37;
}

.sidebar__item:nth-child(3) {
    color: #808592;
    background-color: #2a2d37;
}

.sidebar__item:nth-child(5) {
    color: #808592;
    background-color: #191c24;
}

.sidebar__item:nth-child(6) {
    color: #808592;
    background-color: #191c24;
}