.header__text {
    max-width: 431px;
    height: 33px;
    color: #193945;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    margin-top: 0;
    padding-top: 12px;
    padding-left: 30px;

}