.header__text {
    max-width: 432px;
    height: 33px;
    color: #193945;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    margin-top: -6px;
    padding-top: 12px;
    padding-left: 30px;

}

@media (max-width: 410px) {
    .header__text {    
        min-width: 0; 
        height: 0;  
        padding: 19px 0px 60px 28px;
    }
  }