.cardface {
    max-width: 350px;
    height: 235px;
    border: 1px solid #e4e9ee;
    background-color: #f7f8f8;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    margin: 25px 0 0 29px;
}

@media (max-width: 410px) {
    .cardface {
        display: block;
        max-width: 350px;
        margin: 43px 14px 0px 14px;
    }
  }